<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home"></ion-icon>&nbsp;<b [style.color]="'#2e3f33'">Basic</b>HomeDemo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.padding]="'0'">
  <ion-item [style.padding]="'0'">
    <img src="assets/BasicHomePic.png" [style.width]="'100%'">
  </ion-item>

  <ion-item [style.padding-left]="'0'">
    <img src="assets/Pharmacy.jpg" [style.width]="'20%'" [style.height]="'auto'">
    &nbsp; Pharmacy
  </ion-item>
  <ion-item [style.padding-left]="'0'">
    <img src="assets/Nursing.jpg" [style.width]="'20%'" [style.height]="'auto'">
    &nbsp; Nursing Service
  </ion-item>
  <ion-item [style.padding-left]="'0'">
    <img src="assets/Monitoring.jpg" [style.width]="'20%'" [style.height]="'auto'">
    &nbsp; Monitoring Center
  </ion-item>
  <ion-item [style.padding-left]="'0'">
    <img src="assets/WebPortal.jpg" [style.width]="'20%'" [style.height]="'auto'">
    &nbsp; Web Portal
  </ion-item>
  <ion-item [style.padding-left]="'0'">
    <img src="assets/Telemedicine.jpg" [style.width]="'20%'" [style.height]="'auto'">
    &nbsp; Telemedicine
  </ion-item>

</ion-content>
